nav{
  background-color: grey;
  border-radius: 15px;
  color: white;
  align-content: center;
  padding-left: 100px;
}
.navli{
  text-align: right;

}
.smimage{
  width: 50px;
  height: 50px;
}
.skillimg{
  width: 200px;
  height: 200px;
}
