.staticpos{
  position: static;
  border: 3px solid red;
}
.relativepos{
  position: relative;
  left: 50px;
  border: 3px solid green;
}
.fixedpos{
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 3px solid blue;
}
